
/*Configuração para tela tamanho desktop*/
@media (min-width: 769px) {
    #telefone{
        display: flex;
    }
    .link-container label{
        align-items: center;
        font-size: 25px;
        display: inline-block; /* Para se comportar como botão */
        padding: 10px 20px; /* Espaçamento interno */
        border: 2px solid #000000;  /* Borda do botão */
        border-radius: 10px; /* Bordas arredondadas */
    }
}

/* Layout da Navbar */

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b2b2b;
    margin:0;
    box-sizing: border-box;
    
   

}

.top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    font-size: 20px;
}


/* Logomarca */
.logo img {
    display: flex;
    justify-content: flex-start;
    background: #ffffff;
    height: 90px; /* Ajusta o tamanho da Logomarca */
    width: auto; /*Mantém a proporção */
    margin-left: 160px;
    padding: 2px;
    
}

.link-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px; /* Espaçamento entre links. Distribui uniformemente por todos
    os componentes dentro da classe Link Container. Futuramente separar isso */ 
    margin-right: 100px;
}

.telefone{
    font-size: 20px;
    text-decoration: none;
    color:#000000;
}


.link-item{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000000;
}

.icon{
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.link-text{
    color: #000000;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}

.navbar-links {
    /*margin-left: -40px;*/
    list-style: none;
    display: flex;
    /*justify-content: center;*/
    gap: 35px;
    /* Testar gap de 20px (espaçamento entre os links)*/
    
}

.navbar-links li {
    /*margin-left: 20px;*/
    
}

.navbar-links a {
    color: #ffffff;
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}

/* Toggle para Mobile */

.navbar-toggle {
    /*align-items: left; */
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.navbar-toggle span {
    /*align-items: left;*/
    width: 25px;
    height: 4px;
    background: #fff;
    margin: 4px 0;

    
}

body{
    padding: 0;
    margin: 0;
    background: #222121;
}

main {
    color: #ffffff;
    margin-left: 50px;
    font-size: 18px;
    
} 

h1 {
    color: #ffffff;
    margin-left: 50px;
    font-size: 25px;
    
}

footer p{
   
   text-align: center;
   margin-top: auto;
   color: #ffffff;

}
.carousel {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    max-height: 550px; /* Altura do Banner */
    overflow: hidden;
    /*border-radius: 10px; */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-image {
    min-width: 100%;
    max-width: 100%;
    display: block;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.carousel-btn.prev {
    left: 10px;
}

.carousel-btn.next {
    right: 10px;
}

.carousel-btn:hover {
    background: rgba(0, 0, 0, 0.7)
}

/* Responsividade para Mobile */

/* Colocar dentro da Navbar responsiva os itens de Contato botão Ligar e Whatsapp */

@media (max-width: 768px) {
/* Dentro de @media vamos ter mais classes
que vão ser aplicadas quando a tela tiver 768px ou menos
de largura. Essas classes abaixo serão aplicadas
quando chegar nessa medida de tela. */

.navbar{
    /* Colocar letras menores e configurar de forma menor a navbar toggle*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.navbar-links a {
    color: #ffffff;
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}

#telefone{
    display:none; /* Comando para sumir com o label do layout mobile */
}

.top-container{
    display: flex;
    align-items:center;
}

.logo img {
    display: flex;
    align-items: center;
    margin-left: 20px;
    height: 60px;
    width: auto;
    
}
.link-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px; /* Espaçamento entre links. Distribui uniformemente por todos
    os componentes dentro da classe Link Container. Futuramente separar isso */ 
    margin-right: 30px;
}

.link-item{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000000;
}

.icon{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 35px;
    height: 35px;
    margin-right: 5px;
}

.link-text{
    color: #000000;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.navbar-links {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 80px;
    left: 0;
    position: fixed;
    z-index: 1000; /* Garante que esteja sobre os outros elementos */
    background-color: #333;
}

.navbar-links ul{
    /* testar o tamanho do quadro e centralizar os itens dentro dele*/
    align-items: center;

}

/* Classe .active vai moficiar a classe .navbar-links
para que o Javascritp possa ativar e desativar ela
em uma função. Esse ato irá fazer o componente 
men navbar colapsar e aparecer*/

.navbar-links.active {
    display: flex;
    /* Essa classe active vai usar o flexbox
    como layout, porém o que vai fazer o comportamento dela
    será a função toggleMenu() no JS*/
}

.navbar-toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.navbar-toggle span{
    width: 30px; /* Largura da barra */
    height: 4px; /* Altura da barra */
    background: #fff; /* Cor da barra */
    margin: 3px 0; /* Espaçamento entre as barras */
}

}