
/*Configuração para tela tamanho desktop*/
@media (min-width: 769px) {
    #telefone{
        display: flex;
    }
    .link-container label{
        align-items: center;
        font-size: 30px;
        display: inline-block; /* Para se comportar como botão */
        padding: 10px 20px; /* Espaçamento interno */
        border: 2px solid #000000;  /* Borda do botão */
        border-radius: 10px; /* Bordas arredondadas */
    }
}

/* Layout da Navbar */

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b2b2b;
    padding: 2px 5px;

}

.top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    font-size: 20px;
}


/* Logomarca */
.logo img {
    display: flex;
    justify-content: flex-start;
    background: #ffffff;
    height: 90px; /* Ajusta o tamanho da Logomarca */
    width: auto; /*Mantém a proporção */
    margin-left: 160px;
    padding: 2px;
    
}

.link-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px; /* Espaçamento entre links. Distribui uniformemente por todos
    os componentes dentro da classe Link Container. Futuramente separar isso */ 
    margin-right: 100px;
}



.link-item{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000000;
}

.icon{
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.link-text{
    color: #000000;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

.navbar-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    /* Testar gap de 20px (espaçamento entre os links)*/
    
}

.navbar-links li {
    margin-left: 20px;
    
}

.navbar-links a {
    color: #ffffff;
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}

/* Toggle para Mobile */

.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.navbar-toggle span {
    width: 25px;
    height: 3px;
    background: #fff;
    margin: 4px 0;
}

body{
    padding: 0;
    margin: 0;
    background: #222121;
}

p {
    color: #ffffff;
    margin-left: 50px;
    font-size: 18px;
    
}

h1 {
    color: #ffffff;
    margin-left: 50px;
    font-size: 25px;
    
}

/* Responsividade para Mobile */

/* Colocar dentro da Navbar responsiva os itens de Contato botão Ligar e Whatsapp */

@media (max-width: 768px) {
/* Dentro de @media vamos ter mais classes
que vão ser aplicadas quando a tela tiver 768px ou menos
de largura. Essas classes abaixo serão aplicadas
quando chegar nessa medida de tela. */

#telefone{
    display:none; /* Comando para sumir com o label do layout mobile */
}

.top-container{
    display: flex;
    align-items:center;
}

.logo img {
    display: flex;
    align-items: center;
    margin-left: 20px;
    height: 60px;
    width: auto;
    
}
.link-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px; /* Espaçamento entre links. Distribui uniformemente por todos
    os componentes dentro da classe Link Container. Futuramente separar isso */ 
    margin-right: 30px;
}

.link-item{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000000;
}

.icon{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 35px;
    height: 35px;
    margin-right: 5px;
}

.link-text{
    color: #000000;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #333;
}

/* Classe .active vai moficiar a classe .navbar-links
para que o Javascritp possa ativar e desativar ela
em uma função. Esse ato irá fazer o componente 
men navbar colapsar e aparecer*/

.navbar-links.active {
    display: flex;
    /* Essa classe active vai usar o flexbox
    como layout, porém o que vai fazer o comportamento dela
    será a função toggleMenu() no JS*/
}

.navbar-toggle {
    display: flex;
}

}